@page "/elartkh/{text}"
@inject HttpClient Http

<style>
article {
    color: black
}

@@font-face {
    font-family: "Ithkuil";
    src: url("https://mklcp.github.io/ithkey/ithkuil.ttf");
}

[lang = "Elartkh"]
{
    background-color: black;
    color: white;
    font-family: "Ithkuil";
    font-size: xxx-large;
    line-height: 2;
    padding: inherit;
}
</style>

<PageTitle>Ithkuil III (Elartkh) Script Viewer</PageTitle>
<h1 lang="Elartkh">@Text</h1>

@code{
    [Parameter]
    public string Text { get; set; }
}